@import '../../assets/scss/mixins';
.profile {

    text-align: left;
    // @include breakpoint-down(small) {
    //     text-align: center;
    // }
    .box{
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
        
    }
    &_info{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include breakpoint-down(small) {
            border-top: 4px solid #364485;
            // border-bottom: 4px solid #364485;
        }
        
        @include breakpoint-down(small) {
            flex-direction: column;
            align-items: flex-start;
        }
        &>* {
            padding: 1rem 0;
            border-top: 4px solid #364485;
            
            @include breakpoint-down(small) {
                border-top :none;
            }
        }
        &_img {
            
            @include breakpoint-down(medium) {
                justify-self: center;
            }
            img {
            height: 100%;
            border-radius: 50%;
            margin-right: 1rem;
            width: 10rem;
            height: 10rem;
            border: 2px solid #364485;
            object-fit: contain;
            flex: 1;
            }
        }

        &_text {
            flex: 1;
            .btn{
                display: block;
                width: auto;
                max-width: 10rem;
                background-color: #3B5899;
                color: white;
                font-size: 1rem;
                font-weight: 500;
                padding: 0.5rem 1rem;
                margin: 1rem 0;

                &:hover {
                    background-color: #364485;
                }
            }
        }

        &_stat {
            flex: 1;
        }
        p{
            color: #555555;
        }
    }

    &_edit{
        border-top: 4px solid #364485;
        border-bottom: 4px solid #364485;
        form{
            label,
            input,
            textarea {
                display: block;
                // outline: none;
                width: 50%;
                padding: 0.3rem;
                font-weight: bolder;

                @include breakpoint-down(small) {
                    width: 90%;
                    margin: 0.3rem;
                }
                
            }
            textarea{
                resize: none;
            }
        }
        .profile_photo img{
            min-width: 12rem;
            max-width: 12rem;
            max-height: 15rem;
            margin: 0.5rem 0;
            object-fit: contain;
        }

        .msg{
            color: green;
        }
    }

    &_history{
        border-top: 4px solid #364485;
        @include breakpoint-down(small) {
            border-top: 4px solid #364485;
            
        }
        
        .btn {
            display: inline;
            margin-right: 0.3rem;
            
             @include breakpoint-down(small) {
                 display: block;
                 margin:  0 0 0.3rem 0;
                

             }
            &.rm{
                background-color: #D11A2A;
            } 
        }
        table{
            width: 100%;
            tr{
                padding: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px dotted #364485;
                th,
                td {
                    padding: 0.5rem 0.3rem;
                    flex: 1;
                    overflow-wrap:anywhere;
                    .post_title {
                        font-weight: bold;
                        color: #364485 ;
                    }
                }
                
            }
        }
    }
}